/* Estilos personalizados para o tema */
.md-header {
  background-color: #bd3838 !important;
  color: white !important;
}

/* Painel de navegação */
.md-nav {
  background-color: #FFFFFF !important;
  border-right: 1px solid #eee;
}

/* Links */
a {
  color: #001c3b !important;
  text-decoration: none !important;
}

a:hover {
  color: #FFD600 !important;
  text-decoration: underline !important;
}

/* Botões */
.md-typeset .btn {
  background-color: #bd3838 !important;
  color: white !important;
  padding: 0.5em 1.1em !important;
  border-radius: 8px !important;
  font-weight: 600 !important;
  border: none !important;
  transition: all 0.2s ease-in-out !important;
}

.md-typeset .btn:hover {
  background-color: #bd3838 !important;
  transform: scale(1.03) !important;
}

/* Rodapé */
.md-footer {
  background-color: #f0f4ff !important;
  color: #555 !important;
}
